<%= form_for(:user, url: '/users/change_pass' ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :current_password %><br>
    <%= f.password_field :current_password %>
  </div>
  <div class="field">
    <%= f.label :new_password %><br>
    <%= f.password_field :new_password %>
  </div>
  <div class="field">
    <%= f.label :confirm_new_password %><br>
    <%= f.password_field :confirm_new_password %>
  </div>
  <div class="actions">
   <br/> <%= f.submit "Update password", class: "btn btn-primary" %>
  </div>
<% end %>
