
<h1>Sign up</h1>
<% if current_user != nil %>
<% provide(:title, @current_user.name) %>
Please enter the new Admin's details
<% else %>
<% provide(:title, "Sign up") %>
Please enter your details.
<% end %>

<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
  <% if @user && @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p> Username:</br> <%= f.text_field :name%> </p>

            <p> Email:</br> <%= f.email_field :email%> </p>
                <p> Password:</br> <%= f.password_field :password%></p>
                <%= f.submit :Submit %>
                          <% end %>



<% if current_user != nil %>
<div>
<%= link_to "Back" , user_path(current_user) %>
</div>
<% else %>
<div>
<%= link_to "Back" , root_path %>
</div>
<% end %>

