<% provide(:title, @current_user.name) %>
<% if logged_in_as_admin? %>
	<h1>Admin Home</h1>
	<%= render 'users/admin_home' %>
<% else %>
	<h1>Member Home</h1>
	<%= render 'users/lib_member_home' %>
<% end %>
<p>
	<h1>Hello <%= @current_user.name %>!! </h1>
</p>
<p>
<% if !logged_in_as_admin? %>
	<%= form_tag("/search", method: "get") do %>
	  <%= label_tag(:q, "Search for books here: ") %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag("Search") %>
	<% end %>
	  <br/>
	<%= radio_button_tag(:search_by, "book_name") %>
	<%= label_tag(:search_by_book_name, "Search by book name ") %>
	<%= radio_button_tag(:search_by, "isbn") %>
	<%= label_tag(:search_by_isbn, "Search by ISBN") %>
<% end %>
</p>
