<% provide(:title, @current_user.name) %>
<% if logged_in_as_admin? %>
	<h1>Admin Home</h1>
	<%= render 'users/admin_home' %>
<% else %>
	<h1>Member Home</h1>
	<%= render 'users/lib_member_home' %>
<% end %>
<p>
	<h1>Hello <%= @current_user.name %>!! </h1>
</p>
<p>
<% if logged_in_as_member? %>
	<%= render 'users/book_search_box' %>
<% end %>
</p>

<p>
<% if logged_in_as_member? %>
    <%= link_to "View Checkout history", '/users/checkout_history' %>
<% end %>
</p>
