<% provide (:title,"Edit Book") %>
<h1> Update Book Info </h1>

<%= form_for (@book) do |f| %>
  <%= f.label :book_name %>
  <% =f.text_field:book_name %>
  <%= f.label :ISBN %>
  <%= f.text_field :isbn %>
  
  <%= f.label :Description %>
  <%= f.text_field :description%>


  <%= f.label :Authors %>
  <%= f.text_field :authors%>


  <%= f.label :Status %>
  <%= f.text_field :status%>

  <% = f.submit "Save changes" %>

<% end %>
