<table>
  <tr>
        <th>Book Name</th>
        <th>ISBN</th>
        <th>Description</th>
        <th>Authors</th>
        <th> status</th>
              </tr>

              <% @books.each do |book| %>
                      <tr>
                              <td><%= book.book_name %></td>
                              <td><%= book.isbn %></td>
                              <td><%= book.description %></td>
                              <td><%= book.authors %></td>
                              <td><%= book.status %></td>
                             <td>
                              <% if logged_in_as_admin? %>

                         <%= link_to 'Edit' , edit_book_path(book) %></td>
                       <% if book.status=="Available" %>
                       <td> <%= link_to 'Delete' , book_path(book), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    <% end %>
                     <% end %>
</tr>
                                          <% end %>
                                          </table>


<div>
<%= link_to "My Home" , user_path(current_user) %>
</div>





