<% provide(:title, @book.book_name) %>
<p>
  <strong>Book Name: </strong>
  <%= @book.book_name %>
</p>

<p>
  <strong>ISBN: </strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Description: </strong>
  <%= @book.description %>
</p>

<p>
  <strong>Authors: </strong>
  <%= @book.authors %>
</p>

<p>
  <strong> Status: </strong>
  <%= @book.status %>
</p>


<% if logged_in_as_member? %>
  <% if @book.status == "Available" %>
    <%= button_to "Checkout", "/books/#{@book.id}/checkout" , :method => "get" %>
  <% else %>
    <br/>Book already checked out!!<br/>
    <br/>We can send you a mail when the book is available, set alert below<br/>
    <%= button_to "Set alert", "/books/#{@book.id}/setalert" , :method => "get" %>
  <% end %>
<% end %>

<% if logged_in_as_admin? %>
  <% if @book.status == "Checked out" %>
    <%= button_to "Return book", "/books/#{@book.id}/return" , :method => "get" %>
    <br/>Book is checked out<br/>
  <% else %>
    <%= button_to 'Delete' , book_path(@book), method: :delete, data: {confirm: 'Are you sure?'} %>
	<br/>
	<%= form_tag "/books/#{@book.id}/checkout", method: :get  do %>
  	  <%= email_field_tag "email", "Enter member's email here" %>
	  <%= hidden_field_tag :book_id, @book.id %>
      <%= submit_tag "Checkout" %>
    <% end %>

  <% end %>
<% end %>

<br/>

<%= link_to "Back" , user_path(current_user) %>
